{% extends 'base.html' %}

{% block title %}AutoHub - Courier Dashboard{% endblock %}

{% block content %}
    <h1>Courier Dashboard</h1>
    <h2>Orders</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Order Number</th>
                <th>User ID</th>
                <th>Order Time</th>
                <th>Delivery Time</th>
                <th>Deliver Location</th>
                <th>Vehicle</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.order_number }}</td>
                    <td>{{ order.user_id }}</td>
                    <td>{{ order.order_time }}</td>
                    <td>{{ order.delivery_time }}</td>
                    <td>{{ order.deliver_location }}</td>
                    <td>{{ order.vehicle }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
